<div class="row">
  <div class="col-xs-12">
    <h1>Openings</h1>
    <hr>
    <button class="btn btn-default"
            ng-click="openings.showNewOpening()">
      Add Opening
    </button>
    <table class="table table-hover">
      <thead>
        <tr>
          <td>Craft</td>
          <td>Location</td>
          <td>Description</td>
          <td>Contact Name</td>
          <td>Contact Number</td>
          <td>Is Closed</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="opening in openings.list | orderBy:'id'">
          <td>{{opening.craft}}</td>
          <td>{{opening.location}}</td>
          <td>{{opening.description}}</td>
          <td>{{opening.contact_name}}</td>
          <td>{{opening.contact_number}}</td>
          <td>{{opening.is_closed}}</td>
          <td width="100px">
            <div class="btn-group" role="group">
              <button class="btn btn-default"
                ng-click="openings.showEditOpening(opening)">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger"
                ng-click="openings.deleteOpening(opening)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
